<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew Olivarez | Online Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

    <div class="header" id="top">
        <div class="header-text">
            <div class="content">
                <h1>Matthew Olivarez</h1>
                <p>Online Portfolio</p>
                <button class="btn"><a href="#about">About Me</a></button>
                <button class="btn"><a href="#projects">Projects</a></button>
            </div>
        </div>
    </div>

    

    
    <div class="container">
        <div id="about"></div>
        <div class="subtitles subtitles1">
            <h1>About Me</h1>
        </div>
        <div class="wrapper wrapper1">
            <div class="service">
                <h2>About</h2>
                <p class="paragraph">I am a non-traditional student currently enrolled in a Bachelor of Science in Computer Science program at St. Mary's University. I have coursework experience programming small projects for in C and C++. Additionally, I have personal experience using JavaScript, HTML, and CSS to build small websites and projects.</p>
            </div>
            <div class="service">
                <h2>Contact</h2>
                <div class="contact-info">
                    <p class="contact-p">
                        <i class="fas fa-envelope-square" id="email-square"></i>
                        <!-- <div class="form-popup" id="myForm">
                            <form class="form-container">
                                <h1>Send me an email</h1>
                          
                                <label for="email"><b>Email</b></label>
                                <input type="text" placeholder="Enter Email" name="email" required>
                          
                                <label for="psw"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="psw" required>
                          
                                <button type="submit" class="btn">Login</button>
                                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                            </form>
                        </div> -->
                    </p>
                    <p class="contact-p"><a href="https://github.com/MatthewOlivarez"><i class="fab fa-github-square"></i></a></p>
                    <p class="contact-p"><a href="https://www.linkedin.com/in/matthew-olivarez/"><i class="fab fa-linkedin"></i></a></p>
                </div>
            </div>
        </div>
        <div class="page-links">
            <a href="#projects" class="arrows">Continue To Projects <span class="fas fa-angle-double-down"></span></a>
        </div>
    </div>


    <div class="container">
        <div id="projects"></div>
        <div class="subtitles subtitles2">
            <h1>Projects</h1>
        </div>
        <div class="wrapper wrapper2">
            <div class="service">
                <h2>Online Portfolio</h2>
                <img class="project-imgs" src="https://i.imgur.com/8JVY5vA.png" alt="online portfolio">
            </div>
            <div class="service">
                <h2>RGB Game</h2>
                <img class="project-imgs" src="https://i.imgur.com/wF7kHXy.png" alt="rgb game">
            </div>
            <div class="service">
                <h2>Scientific Calculator</h2>
                <img class="project-imgs" src="https://i.imgur.com/690ekJv.png" alt="scientific calculator app">
            </div>
        </div>
        <div class="page-links">
            <a href="#top" class="arrows">Back To Top <span class="fas fa-angle-double-up"></span></a>
        </div>
    </div>


    <script src="/javascript/script.js"></script>
    <script src="https://kit.fontawesome.com/1ff31bbc98.js" crossorigin="anonymous"></script>
    
</body>
</html>