<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew Olivarez | Online Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

    <!-- <div class="container head">
        <nav class="level is-mobile">
            
                <p class="level-item has-text-right">
                <a class="link is-info has-text-primary-dark">Projects</a>
                </p>
                <p class="level-item has-text-centered has-text-weight-bold is-size-2">
                <a class="link is-info has-text-primary-dark">Matthew Olivarez</a>
                </p>
                <p class="level-item has-text-left">
                <a class="link is-info has-text-primary-dark">About</a>
                </p>
            
        </nav>
    </div>

    <div class="container">
        <section class="section">
            <h1 class="title">Medium section</h1>
            <h2 class="subtitle">
              A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
            </h2>
        </section>
    </div> -->

    <div class="header" id="top">
        <div class="header-text">
            <div class="content">
                <h1>Matthew Olivarez</h1>
                <p>Online Portfolio</p>
                <button class="btn"><a href="#about">About Me</a></button>
                <button class="btn"><a href="#projects">Projects</a></button>
            </div>
        </div>
    </div>

    

    
    <div class="container">
        <div id="about"></div>
        <div class="subtitles">
            <h1>About Me</h1>
        </div>
        <div class="wrapper wrapper1">
            <div class="service">
                <h2>Box One</h2>
                <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
            </div>
            <div class="service">
                <h2>Contact</h2>
                <div class="contact-info">
                    <p class="contact-p"><i class="fas fa-envelope-square"></i></p>
                    <p class="contact-p"><a href="www.github.com/mattolivarez"><i class="fab fa-github-square"></i></a></p>
                    <p class="contact-p"><a href="www.linkedin.com/in/matthewolivarez"><i class="fab fa-linkedin"></i></a></p>
                </div>
            </div>
        </div>
        <div class="page-links">
            <a href="#projects" class="arrows">Continue To Projects <span class="fas fa-angle-double-down"></span></a>
        </div>
    </div>


    <div class="container">
        <div id="projects"></div>
        <div class="subtitles">
            <h1>Projects</h1>
        </div>
        <div class="wrapper wrapper2">
            <div class="service">
                <h2>Online Portfolio</h2>
                <img class="project-imgs" src="https://i.imgur.com/YUsrWOY.png" alt="online portfolio">
            </div>
            <div class="service">
                <h2>RGB Guess Game</h2>
                <p></p>
            </div>
            <div class="service">
                <h2>Scientific Calculator</h2>
                <p></p>
            </div>
            <div class="service">
                <h2>Box Four</h2>
                <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
            </div>
        </div>
        <div class="page-links">
            <a href="#top" class="arrows">Back To Top <span class="fas fa-angle-double-up"></span></a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/1ff31bbc98.js" crossorigin="anonymous"></script>
</body>
</html>